body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  background-color: #FAFAFA;
}

html
{
  scroll-behavior: smooth;
}

#background
{
  background-image: url(image/blurry_background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100vw;
  height:100vh;
  margin-left: auto;
  margin-right: auto;
}

#logo
{
  width: 40vh;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  top: 20vh;
  display: block;
}

#logo2
{
  width: 25vh;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#learnmore
{
  position:relative;
  text-align: center;
  color: white;
  font-size: 2vh; 
  font-weight: 500; 
  letter-spacing: .4vh;
  font-family: thin;
  top: 40vh;
}

@font-face {
  font-family: thin;
  src: url('fonts/Walkway.ttf');
}

#intro1
{
  position:relative;
  text-align: center;
  color: black;
  font-family: thin;
  letter-spacing: .5vh;
  padding: 5vh;
}

#intro2
{
  position:relative;
  text-align: center;
  color: black;
  font-family: thin;
  font-size: 23vh;
  font-weight: 500; 
  letter-spacing: 3vh;
  top: -10vh;
  padding: 1vh;
  margin: 0%;
}

.dash{
  position:relative;
  border: 0.5px solid black;
  width: 240px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  top: -12vh;
}

.col3{
  width: 33%;
  margin: 0%;
  padding: 0%;
}

#mediumwriting
{
  text-align: center;
  color: black;
  font-family:thin;
  font-size: 3vh;
  letter-spacing: 2vh;
  margin-top: -2vh;
}

#smallwriting
{
  text-align: center;
  color: black;
  font-family:thin;
  font-size: 2vh;
  font-weight: 500; 
  letter-spacing: 0.5vh;
  padding-left: 25vw;
  padding-right: 25vw;
}

p.boldred
{
  font-family:thin;
  position: relative;
}

h1 blue
{
  color: blue;
  font-size: 15vh;
  font-weight: 200; 
}

h1 red
{
  color: red;
  font-weight: 1500; 
}

h1 blue2
{
  color: blue;
  font-weight: 1500; 
}

#info
{
  position:relative;
  text-align: center;
  color: black;
  font-family: thin;
  font-size: 5vh;
  letter-spacing: .5vh;
}

#counter1
{
  text-align: center;
  color: blue;
  font-size: 5vh;
  margin-bottom: 5vh;
  font-family: thin;
}

#counter2
{
  text-align: center;
  color: blue;
  font-size: 5vh;
  margin-bottom: 5vh;
  font-family: thin;
}

#counter3
{
  text-align: center;
  color: blue;
  font-size: 5vh;
  margin-bottom: 5vh;
  font-family: thin;
}

#downbutton
{
  width: 5vh;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  top: 20vh;
  display: block;
}

#statistics
{
  text-align: center;
  color: black;
  font-family:thin;
  font-size: 2.5vh;
  font-weight: 500; 
  letter-spacing: 0.5vh;
}

#screenshots
{
  width: 30vw;
}

a:link 
{
  text-decoration: none;
}
